.title-login {
  width: 100%;
  text-align: center;
  margin-top: 150px;
}
.signup-text {
  margin-left: 10%;
  width: 90%;
}

.container-button {
  width: 100%;
  text-align: center;
  padding-top: 10%;
}
