.container-profile {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

.container-profile-info {
  margin-top: 30px;
}

.container-avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.container-edit-button {
  margin-left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
